.card {
  padding: var(--se-space-16) var(--g-spacing-6);
}

.inner {
  gap: var(--g-spacing-3);
}

.icon {
  color: var(--g-color-text-secondary);
  opacity: 0.5;
  margin-bottom: var(--g-spacing-2);
}

.hint {
  color: var(--g-color-text-secondary);
  max-width: 400px;
  text-align: center;
}

.links {
  margin-top: var(--g-spacing-4);
}
